name: Continuous Integration

on:
  pull_request:
  push:
    branches: [main]
    tags: [v*]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build docker image
        run: docker build -t ghcr.io/etspaceman/devcontainer-scala:latest .
  publish:
    name: Publish docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch (full)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Build docker image
        run: docker build -t ghcr.io/etspaceman/devcontainer-scala:latest .
      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.CR_PAT }}
      - name: Push to registry
        run: docker push "ghcr.io/etspaceman/devcontainer-scala:latest"

